@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
.my-btn {
  position: relative;
  display: inline-block;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4d505+0,eccd00+100 */
  background: #f4d505;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f4d505 0%, #eccd00 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4d505', endColorstr='#eccd00',GradientType=0 );
  /* IE6-9 */
  border-radius: 5px;
  border: none;
  color: #000;
  box-shadow: 0 3px #b9a100;
  font: 300 15px/44px "Open Sans";
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.my-btn:hover {
  top: 3px;
  cursor: pointer;
  box-shadow: none;
}

* {
  max-height: 1000000px;
}

body {
  min-width: 960px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

input:focus {
  outline: none;
}

input.error {
  background-color: #ffceca !important;
}

label.error {
  display: none !important;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.clear {
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

header .container {
  padding: 30px 0;
}

header p {
  float: left;
  width: 253px;
  margin: 25px 80px 0 0;
  color: #000;
  font: 300 16px/25px "Open Sans";
  text-transform: uppercase;
}

header p span {
  color: #e35f13;
}

header .number {
  padding: 1px 7px;
  border-radius: 5px;
  background-color: #bccc00;
  color: #FFF;
}

header h1 {
  margin: 0;
  overflow: hidden;
}

header .phone {
  position: relative;
  float: right;
  margin-top: 35px;
}

header .languages-list {
  position: absolute;
  top: -20px;
  right: 5px;
  height: 20px;
  margin: 0;
  padding: 0 0 0 25px;
  background: #FFF;
  overflow: hidden;
  list-style: none;
}

header .languages-list a {
  position: relative;
  color: #000;
  padding-right: 10px;
  font: 400 12px/25px "Open Sans";
  cursor: pointer;
}

header .languages-list a:hover {
  text-decoration: none;
}

header li a:before {
  content: '';
  position: absolute;
  top: 4px;
  left: -25px;
  display: block;
  width: 14px;
  height: 11px;
}

header .ru a:before {
  background: url(../img/flag1.png);
}

header .uk a:before {
  background: url(../img/flag3.png);
}

header .kk a:before {
  background: url(../img/flag2.png);
}

header .choose a:after {
  content: '';
  position: absolute;
  top: 7px;
  right: -10px;
  display: block;
  width: 6px;
  height: 3px;
  background: url(../img/arrow1.png);
  background-repeat: no-repeat;
}

header .active {
  height: 100px;
  transition: all 0.5s;
}

header address {
  margin: 0;
  width: 265px;
  color: #000;
  text-transform: uppercase;
  font: 300 35px "Open Sans";
}

nav {
  position: fixed;
  top: -50px;
  left: 0;
  right: 0;
  z-index: 10;
  background: #fff;
  transition: top 0.5s;
}

nav .container {
  padding: 15px 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  padding: 0 27px;
}

nav li:first-child {
  padding-left: 0;
}

nav li:last-child {
  padding-right: 0;
}

nav a {
  color: #000;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav .active {
  color: #e66d20;
}

.nav {
  top: 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  transition: top 0.5s;
}

.open-business {
  background: url(../img/bg_open-business.jpg) center top no-repeat;
  background-size: cover;
}

.open-business .container {
  padding-top: 100px;
}

.open-business h2 {
  margin: 0;
  color: #FFF;
  font: 300 48px/52px "Open Sans";
  text-transform: uppercase;
}

.open-business h2 span {
  color: #efd600;
}

.open-business p, .open-business a {
  color: #FFF;
  font: 300 18px/24px "Open Sans";
}

.open-business p span, .open-business a span {
  color: #efd600;
}

.open-business .price {
  margin: 20px 0 30px;
  font-size: 30px;
  line-height: 36px;
}

.open-business .description {
  position: relative;
  width: 415px;
  margin: 95px 0 80px;
  padding-left: 46px;
}

.open-business .description:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 28px;
  height: 24px;
  background: url("../img/quote.png");
}

.open-business .link {
  color: #FFF;
  overflow: hidden;
}

.open-business .link .hover {
  float: right;
  position: relative;
  width: 345px;
  height: 100px;
  margin-top: 20px;
}

.open-business .link .hover:hover {
  text-decoration: none;
}

.open-business .link .hover:before {
  content: '';
  position: absolute;
  top: 25px;
  left: -133px;
  display: block;
  width: 105px;
  height: 57px;
  background: url(../img/arrow.png);
}

.open-business .ipad {
  position: relative;
  top: 30px;
  transition: all 0.5s;
}

.open-business .top {
  top: 5px;
  transition: all 0.5s;
}

.form {
  float: right;
  width: 344px;
  height: 488px;
  border-radius: 5px;
  background: #FFF;
}

.form h4 {
  margin: 40px 0 0;
  color: #e35f13;
  font: 300 39px/45px "Open Sans";
  text-transform: uppercase;
  text-align: center;
}

.form h4 span {
  font-size: 63px;
}

.form p {
  width: 180px;
  margin: -5px auto 0;
  color: #000;
  font: 400 14px "Open Sans";
  text-align: center;
}

.form form * {
  display: block;
  width: 244px;
  box-sizing: border-box;
  margin: 0 auto 13px;
}

.form form {
  margin: 18px 0 0;
}

.form input {
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #d8f0ff;
}

.form .warranty {
  width: auto;
  color: #818181;
  font: 400 11px/11px "Open Sans";
  text-align: center;
}

.reasons {
  background-color: #F7F7F7;
}

.reasons .container {
  padding: 110px 0;
}

.reasons .asks-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reasons .asks-list li {
  float: left;
  width: 280px;
}

.reasons .asks-list li:not(:last-child) {
  margin-right: 60px;
}

.reasons .asks-list p {
  margin: 0;
  font: 300 14px/24px "Open Sans";
  text-align: center;
}

.reasons .asks-list p:before {
  content: '';
  display: block;
  width: 105px;
  height: 105px;
  margin: 0 auto 45px;
}

.reasons .asks-list .asks-item1:before {
  background: url(../img/asks-item1.png) center center no-repeat;
}

.reasons .asks-list .asks-item2:before {
  background: url(../img/asks-item2.png) center center no-repeat;
}

.reasons .asks-list .asks-item3:before {
  background: url(../img/asks-item3.png) center center no-repeat;
}

.reasons h3 {
  margin: 90px 0 0;
  font: 300 48px "Open Sans";
  text-align: center;
}

.reasons h3 span {
  color: #e66d20;
}

.reasons .agency {
  margin: 0;
  font: 300 20px "Open Sans";
  text-align: center;
}

.reasons .reasons-list {
  margin: 70px 0 0;
  padding: 0;
  list-style: none;
}

.reasons .reasons-list li {
  float: left;
  width: 50%;
  height: 108px;
  margin: 0;
  overflow: hidden;
}

.reasons .reasons-list li:last-child {
  width: 100%;
  height: 112px;
}

.reasons .reasons-list li:last-child p {
  width: 100%;
}

.reasons .reasons-list img {
  float: left;
  width: 68px;
  height: 68px;
  margin-right: 28px;
  border-radius: 50%;
}

.reasons .reasons-list p {
  width: 425px;
  margin: 0;
  font: 300 18px/24px "Open Sans";
}

.reasons .reasons-list .my-btn {
  width: 244px;
  margin-top: 15px;
}

.why {
  padding: 100px 0;
}

.why h3 {
  margin: 0;
  font: 300 48px/48px "Open Sans";
  text-align: center;
}

.why p {
  margin: 65px 0 70px;
  font: 300 18px/25px "Open Sans";
}

.why .photos {
  max-width: 100%;
}

.why .photos img {
  float: left;
  width: 20%;
  height: 100%;
  box-sizing: border-box;
  padding: 7px;
}

.why .last {
  margin: 70px 0 0;
}

.control {
  padding: 100px 0;
  background: #F7F7F7;
}

.control h3 {
  width: 875px;
  margin: 0 auto;
  font: 300 50px "Open Sans";
  text-transform: uppercase;
  text-align: center;
}

.control h3 span {
  color: #e66d20;
}

.control p {
  margin: 25px 0 0;
  font: 300 18px/25px "Open Sans";
}

.control img {
  display: block;
  max-width: 100%;
  margin: 65px auto 40px;
}

.control .description {
  width: 510px;
  margin: 10px auto 0;
  font: 300 30px/38px "Open Sans";
  text-align: center;
}

.form-section-first {
  position: relative;
  min-height: 537px;
  background: url(../img/bg_form.jpg) center top no-repeat;
  background-size: cover;
}

.form-section-first .form {
  position: absolute;
  left: 50%;
  bottom: -70px;
  z-index: 5;
  float: none;
  margin-left: -172px;
}

.form-section-first .form:before {
  content: '';
  position: absolute;
  z-index: 4;
  bottom: -15px;
  left: 50%;
  display: block;
  width: 341px;
  height: 15px;
  margin-left: -170px;
  background: url(../img/shadow.png);
}

.form-section-first .form p {
  width: 260px;
}

.proposal {
  position: relative;
}

.proposal:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 28px;
  background: url(../img/slice.png);
}

.proposal .container div {
  float: left;
  box-sizing: border-box;
  width: 50%;
  padding: 180px 0 60px;
}

.proposal .container .bad {
  padding-right: 68px;
}

.proposal .container .good {
  padding-left: 68px;
}

.proposal .container h4 {
  position: relative;
  margin: 0 0 25px;
  padding-left: 70px;
  font: 300 24px "Open Sans";
}

.proposal .container h4:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 51px;
  height: 53px;
  margin-right: 19px;
}

.proposal .container .bad h4:before {
  background: url(../img/bad.png);
}

.proposal .container .good h4:before {
  background: url(../img/good.png);
}

.proposal .container p {
  margin: 25px 0 0;
  font: 300 18px/25px "Open Sans";
}

.proposal .container img {
  width: 100%;
  height: auto;
}

#advantages {
  background-color: #F7F7F7;
}

#advantages .container {
  padding: 100px 0;
}

#advantages h3 {
  margin: 0;
  font: 300 48px/48px "Open Sans";
  text-align: center;
}

#advantages h3 span {
  color: #e66d20;
}

#advantages .agency {
  margin: 8px 0 70px;
  font: 300 20px "Open Sans";
  text-align: center;
}

#advantages .text {
  margin: 0;
  font: 300 18px/25px "Open Sans";
}

#advantages .margin {
  margin-top: 28px;
}

#advantages h4 {
  margin: 0 0 20px;
  font: 300 24px/25px "Open Sans";
}

#advantages .advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

#advantages .advantages-list li {
  margin-bottom: 50px;
  background-color: #FFF;
}

#advantages .advantages-list div {
  padding: 60px 50px 30px 60px;
  overflow: hidden;
}

#advantages img {
  float: left;
  width: 226px;
  height: auto;
  overflow: hidden;
}

#advantages #included {
  padding-top: 110px;
}

#advantages .every-year {
  padding: 60px 10px;
  border: 5px solid #edcf01;
  background-color: #FFF;
}

#advantages .every-year h3 {
  max-width: 720px;
  margin: 0 auto 8px;
  font-size: 40px;
  line-height: 50px;
}

#advantages .every-year p {
  margin: 0;
  font: 300 18px "Open Sans";
  text-align: center;
}

#advantages .every-year .my-btn {
  display: block;
  width: 390px;
  margin: 45px auto 15px;
}

#advantages .every-year .warranty {
  color: #818181;
  font: 400 11px/11px "Open Sans";
}

.together {
  background: url(../img/bg_together.png) center top no-repeat;
  background-size: cover;
}

.together .container {
  padding: 95px 0 100px;
}

.together h3 {
  max-width: 765px;
  margin: 0 auto 0;
  color: #fff;
  font: 300 48px/58px "Open Sans";
  text-align: center;
}

.together p {
  color: #FFF;
  font: 300 18px/24px "Open Sans";
  text-align: center;
}

.together .get {
  margin: 8px 0 70px;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}

.together ul {
  padding: 0;
  list-style: none;
}

.together ul li {
  width: 455px;
  margin-bottom: 40px;
}

.together ul li:nth-child(odd) {
  float: left;
}

.together ul li:nth-child(even) {
  float: right;
}

.together ul p {
  margin: 0;
  overflow: hidden;
  text-align: left;
}

.together img {
  float: left;
  height: 68px;
  width: 68px;
  margin-right: 28px;
  border-radius: 50%;
}

#contacts {
  padding: 110px 0 100px;
  background-color: #F7F7F7;
  text-align: center;
}

#contacts h3 {
  margin: 0;
  font: 300 48px/48px "Open Sans";
}

#contacts p {
  margin: 20px 0 75px;
  font: 300 20px/20px "Open Sans";
}

#contacts address {
  margin: 0;
  font: 300 25px "Open Sans";
}

#contacts .number {
  margin-top: 20px;
}

.form-section-second {
  position: relative;
  min-height: 550px;
  background-size: cover;
}

.form-section-second #ya_map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.form-section-second .form {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -338px;
  margin-top: -166px;
  width: 675px;
  height: 332px;
}

.form-section-second h4 {
  margin-top: 45px;
  font: 300 30px/30px "Open Sans";
}

.form-section-second p {
  margin: 0 auto;
  width: 315px;
  font: 300 18px "Open Sans";
}

.form-section-second form > * {
  float: left;
  width: 268px;
  margin: 9px;
}

.form-section-second form {
  width: 575px;
  margin: 0 auto;
}

.form-section-second .warranty {
  margin-top: 8px;
}

.site {
  margin: 40px 0;
  font: 300 18px/18px "Open Sans";
  text-align: center;
}

.site a {
  color: #0072bc;
  text-decoration: underline;
}

footer {
  padding: 57px 0 58px;
  background-color: #F7F7F7;
}

footer .container > * {
  float: left;
}

footer .logo img {
  width: 200px;
  margin: -10px 37px 0 0;
}

footer .copy {
  width: 240px;
  margin: 0 58px 0 0;
  color: #000;
  font: 300 16px/25px "Open Sans";
}

footer .copy a {
  color: #000;
}

footer .copy a:hover {
  text-decoration: none;
}

footer .lands {
  margin-right: 45px;
  text-decoration: none;
}

footer .lands p {
  margin: 0 0 3px;
  color: #000;
  font: 300 12px "Open Sans";
}

footer address {
  float: none !important;
  color: #000;
  font: 300 35px "Open Sans";
  text-transform: uppercase;
}

#video {
  display: none;
}

#video .ipad {
  width: 851px;
  height: 600px;
  box-sizing: border-box;
  padding: 32px 0 0 70px;
  background: #333 url(../img/tablet2.png) top center no-repeat;
  border-radius: 30px;
}
#video .ipad iframe {
  width: 710px !important;
  height: 535px !important;
}


.fancybox-skin {
  border-radius: 30px;
}

#polityc {
  display: none;
  width: 350px;
  padding: 10px 20px;
  background: #FFF;
  border-radius: 5px;
}

#polityc h2 {
  font: 700 24px/30px "Open Sans";
  text-align: center;
}

.thnx {
  margin-top: 100px;
}
.thnx-text {
  width: 600px;
  padding: 100px 0 0;
  margin: 0 auto;
  color: #000;
  font-size: 40px;
  font-family: 'agavalanchecbold';
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
}
.footer-download {
  line-height: 50px;
  text-align: center;
}
.footer-download a {
  display: inline-block;
  height: 50px;
}
.footer-download a img {
  width: 130px;
  vertical-align: middle;
}

.video__link {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px #f1f1f1;
}
.video__link a {
  color: #0072bc;
  text-decoration: underline;
  font-weight: bold;
  line-height: 50px;
}