@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
.my-btn {
  position: relative;
  display: inline-block;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4d505+0,eccd00+100 */
  background: #f4d505;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f4d505 0%, #eccd00 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4d505', endColorstr='#eccd00',GradientType=0 );
  /* IE6-9 */
  border-radius: 5px;
  border: none;
  color: #000;
  box-shadow: 0 3px #b9a100;
  font: 300 15px/44px "Open Sans";
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.my-btn:hover {
  top: 3px;
  cursor: pointer;
  box-shadow: none;
}

* {
  max-height: 1000000px;
}

body {
  min-width: 320px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

input:focus {
  outline: none;
}

input.error {
  background-color: #ffceca !important;
}

label.error {
  display: none !important;
}

.container {
  max-width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

.clear {
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

header {
  padding: 30px 0;
}

header p {
  float: left;
  width: 253px;
  margin: 25px 80px 0 0;
  color: #000;
  font: 300 16px/25px "Open Sans";
  text-transform: uppercase;
}

header p span {
  color: #e35f13;
}

header .number {
  padding: 1px 7px;
  border-radius: 5px;
  background-color: #bccc00;
  color: #FFF;
}

header h1 {
  margin: 0;
  overflow: hidden;
}

header .phone {
  position: relative;
  float: right;
  margin-top: 35px;
}

header .languages-list {
  position: absolute;
  top: -20px;
  right: 5px;
  height: 20px;
  margin: 0;
  padding: 0 0 0 25px;
  background: #FFF;
  overflow: hidden;
  list-style: none;
}

header .languages-list a {
  position: relative;
  color: #000;
  padding-right: 10px;
  font: 400 12px/25px "Open Sans";
  cursor: pointer;
}

header .languages-list a:hover {
  text-decoration: none;
}

header li a:before {
  content: '';
  position: absolute;
  top: 4px;
  left: -25px;
  display: block;
  width: 14px;
  height: 11px;
}

header .ru a:before {
  background: url(../images/flag1.png);
}

header .uk a:before {
  background: url(../images/flag3.png);
}

header .kk a:before {
  background: url(../images/flag2.png);
}

header .choose a:after {
  content: '';
  position: absolute;
  top: 7px;
  right: -10px;
  display: block;
  width: 6px;
  height: 3px;
  background: url(../images/arrow1.png);
  background-repeat: no-repeat;
}

header .active {
  height: 100px;
  transition: all 0.5s;
}

header address {
  margin: 0;
  width: 265px;
  color: #000;
  text-transform: uppercase;
  font: 300 35px "Open Sans";
}
.header-logo {float: left;}
header:after {
    display: block;
    content: '';
    clear: both;
}

nav {
  position: fixed;
  top: -50px;
  left: 0;
  right: 0;
  z-index: 10;
  background: #fff;
  transition: top 0.5s;
}

nav .container {
  padding: 15px 0;
}
.nav-icon {display: none;}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  padding: 0 27px;
}

nav li:first-child {
  padding-left: 0;
}

nav li:last-child {
  padding-right: 0;
}

nav a {
  color: #000;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav .active {
  color: #e66d20;
}

.nav {
  top: 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  transition: top 0.5s;
}
.nav-close  {display: none}

.open-business-hidden {display: none;}

.open-business {
  background: url(../images/bg_open-business.jpg) center top no-repeat;
  background-size: cover;
}

.open-business .container {
  padding-top: 100px;
}

.open-business h2 {
  margin: 0;
  color: #FFF;
  font: 300 48px/52px "Open Sans";
  text-transform: uppercase;
}

.open-business h2 span {
  color: #efd600;
}

.open-business p, .open-business a {
  color: #FFF;
  font: 300 18px/24px "Open Sans";
}

.open-business p span, .open-business a span {
  color: #efd600;
}

.open-business .price {
  margin: 20px 0 30px;
  font-size: 30px;
  line-height: 36px;
}

.open-business .description {
  position: relative;
  width: 415px;
  margin: 95px 0 30px;
}

.open-business .link {
  color: #FFF;
  overflow: hidden;
  padding-bottom: 30px;
}

.open-business .link .hover {
  float: right;
  position: relative;
  width: 345px;
  height: 100px;
  margin-top: 20px;
}

.open-business .link .hover:hover {
  text-decoration: none;
}

.open-business .link .hover:before {
  content: '';
  position: absolute;
  top: 25px;
  left: -130px;
  display: block;
  width: 105px;
  height: 57px;
  background: url(../images/arrow.png);
}

.open-business .ipad {
  position: relative;
  /*top: 30px;*/
  transition: all 0.5s;
  display: inline-block;
}
.open-business .ipad iframe {
  position: absolute;
  top: 22px;
  left: 45px;
  height: 308px;
  width: 409px;
}
.open-business .ipad img {
  width: 500px;
}
.open-business .top {
  top: 5px;
  transition: all 0.5s;
}

.form {
  float: right;
  width: 344px;
  height: 488px;
  border-radius: 5px;
  background: #FFF;
}

.form h4 {
  margin: 40px 0 0;
  color: #e35f13;
  font: 300 39px/45px "Open Sans";
  text-transform: uppercase;
  text-align: center;
}

.form h4 span {
  font-size: 63px;
}

.form p {
  width: 180px;
  margin: -5px auto 0;
  color: #000;
  font: 400 14px "Open Sans";
  text-align: center;
}

.form form * {
  display: block;
  width: 244px;
  box-sizing: border-box;
  margin: 0 auto 13px;
}

.form form {
  margin: 18px 0 0;
}

.form input {
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #d8f0ff;
}

.form .warranty {
  width: auto;
  color: #818181;
  font: 400 11px/11px "Open Sans";
  text-align: center;
}

.reasons {
  padding: 110px 0 110px;
  background-color: #F7F7F7;
}


.reasons .asks-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reasons .asks-list li {
  float: left;
  width: 33%;
  box-sizing: border-box;
  padding: 0 15px;
  text-align: center;
}



.reasons .asks-list p {
  margin: 0;
  font: 300 14px/24px "Open Sans";
  text-align: center;
}

.asks-list-img {
    display: block;
    height: 105px;
    margin: 0 0 45px;
    line-height: 105px;
}
.asks-list-img img {vertical-align: middle;}

.reasons h3 {
  margin: 90px 0 0;
  font: 300 48px "Open Sans";
  text-align: center;
}

.reasons h3 span {
  color: #e66d20;
}

.reasons .agency {
  margin: 0;
  font: 300 20px "Open Sans";
  text-align: center;
}

.reasons .reasons-list {
  margin: 70px 0 0;
  padding: 0;
  list-style: none;
}

.reasons .reasons-list li {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  margin: 0 0 30px;
}

/*.reasons .reasons-list li:last-child {*/
  /*width: 100%;*/
/*}*/

/*.reasons .reasons-list li:last-child p {*/
  /*width: 100%;*/
/*}*/

/*.reasons .reasons-list img {*/
  /*float: left;*/
  /*width: 68px;*/
  /*height: 68px;*/
  /*border-radius: 50%;*/
/*}*/

.reasons .reasons-list p {
  margin: 0 20px 0 0;
  font: 300 18px/24px "Open Sans";
}

.reasons .reasons-list .my-btn {
  width: 244px;
  margin-top: 15px;
}

.why {
  padding: 100px 0;
}

.why h3 {
  margin: 0;
  font: 300 48px/48px "Open Sans";
  text-align: center;
}

.why p {
  margin: 65px 0 70px;
  font: 300 18px/25px "Open Sans";
}

.why .photos {
  max-width: 100%;
}

.why .photos img {
  float: left;
  width: 20%;
  box-sizing: border-box;
  padding: 7px;
}

.why .last {
  margin: 70px 0 0;
}

.control {
  padding: 100px 0;
  background: #F7F7F7;
}

.control h3 {
  width: 875px;
  margin: 0 auto;
  font: 300 50px "Open Sans";
  text-transform: uppercase;
  text-align: center;
}

.control h3 span {
  color: #e66d20;
}

.control p {
  margin: 25px 0 0;
  font: 300 18px/25px "Open Sans";
}

.control img {
  display: block;
  max-width: 100%;
  margin: 65px auto 40px;
}

.control .description {
  width: 510px;
  margin: 10px auto 0;
  font: 300 30px/38px "Open Sans";
  text-align: center;
}

.form-section-first {
  position: relative;
  padding: 119px 0 1px;
  background: url(../images/bg_form.jpg) center top no-repeat;
  background-size: cover;
}

.form-section-first .form {
  position: relative;
  z-index: 5;
  float: none;
  padding: 1px 0 0;
  margin: 0 auto -70px;
}

.form-section-first .form:before {
  content: '';
  position: absolute;
  z-index: 4;
  bottom: -15px;
  left: 50%;
  display: block;
  width: 341px;
  height: 15px;
  margin-left: -170px;
  background: url(../images/shadow.png);
}

.form-section-first .form p {
  width: 260px;
}

.proposal {
  position: relative;
}

.proposal:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 28px;
  background: url(../images/slice.png);
}

.proposal .container div {
  float: left;
  box-sizing: border-box;
  width: 50%;
  padding: 180px 0 60px;
}

.proposal .container .bad {
  padding-right: 68px;
}

.proposal .container .good {
  padding-left: 68px;
}

.proposal .container h4 {
  position: relative;
  margin: 0 0 25px;
  padding-left: 70px;
  font: 300 24px "Open Sans";
}

.proposal .container h4:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 51px;
  height: 53px;
  margin-right: 19px;
}

.proposal .container .bad h4:before {
  background: url(../images/bad.png);
}

.proposal .container .good h4:before {
  background: url(../images/good.png);
}

.proposal .container p {
  margin: 25px 0 0;
  font: 300 18px/25px "Open Sans";
}

.proposal .container img {
  width: 100%;
  height: auto;
}

#advantages {
 padding: 100px 0; 
 background-color: #F7F7F7;
}


#advantages h3 {
  margin: 0;
  font: 300 48px/48px "Open Sans";
  text-align: center;
}

#advantages h3 span {
  color: #e66d20;
}

#advantages .agency {
  margin: 8px 0 70px;
  font: 300 20px "Open Sans";
  text-align: center;
}

#advantages .text {
  margin: 0;
  font: 300 18px/25px "Open Sans";
}

#advantages .margin {
  margin-top: 28px;
}

#advantages h4 {
  margin: 0 0 20px;
  font: 300 24px/25px "Open Sans";
}

#advantages .advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

#advantages .advantages-list li {
  margin-bottom: 50px;
  background-color: #FFF;
}

#advantages .advantages-list div {
  padding: 60px 50px 30px 60px;
  overflow: hidden;
}

#advantages img {
  float: left;
  width: 226px;
  height: auto;
  overflow: hidden;
}

#advantages #included {
  padding-top: 110px;
}

#advantages .every-year {
  padding: 60px 10px;
  border: 5px solid #edcf01;
  background-color: #FFF;
}

#advantages .every-year h3 {
  max-width: 720px;
  margin: 0 auto 8px;
  font-size: 40px;
  line-height: 50px;
}

#advantages .every-year p {
  margin: 0;
  font: 300 18px "Open Sans";
  text-align: center;
}

#advantages .every-year .my-btn {
  display: block;
  width: 390px;
  margin: 45px auto 15px;
}

#advantages .every-year .warranty {
  color: #818181;
  font: 400 11px/11px "Open Sans";
}

.together {
  padding: 95px 0 100px;
  background: url(../images/bg_together.png) center top no-repeat;
  background-size: cover;
}


.together h3 {
  max-width: 765px;
  margin: 0 auto 0;
  color: #fff;
  font: 300 48px/58px "Open Sans";
  text-align: center;
}

.together p {
  color: #FFF;
  font: 300 18px/24px "Open Sans";
  text-align: center;
}

.together .get {
  margin: 8px 0 70px;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}

.together ul {
  padding: 0;
  list-style: none;
}

.together ul li {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  margin-bottom: 40px;
  box-sizing: border-box;
}

.together ul li:nth-child(odd) {
  padding: 0 20px 0 0;
}

.together ul li:nth-child(even) {
  padding: 0 0 0 20px;
}

.together ul p {
  margin: 0 0 0 97px;
  overflow: hidden;
  text-align: left;
}

.together img {
  float: left;
  height: 68px;
  width: 68px;
  border-radius: 50%;
}

#contacts {
  padding: 110px 0 100px;
  background-color: #F7F7F7;
  text-align: center;
}

#contacts h3 {
  margin: 0;
  font: 300 48px/48px "Open Sans";
}

#contacts p {
  margin: 20px 0 75px;
  font: 300 20px/20px "Open Sans";
}

#contacts address {
  margin: 0;
  font: 300 25px "Open Sans";
}

#contacts .number {
  margin-top: 20px;
}

.form-section-second {
  position: relative;
  min-height: 550px;
  background-size: cover;
}

.form-section-second #ya_map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.form-section-second .form {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
  margin-left: -338px;
  margin-top: -166px;
  width: 675px;
  height: 332px;
}

.form-section-second h4 {
  margin-top: 45px;
  font: 300 30px/30px "Open Sans";
}

.form-section-second p {
  margin: 0 auto;
  width: 315px;
  font: 300 18px "Open Sans";
}

.form-section-second form > * {
  float: left;
  width: 268px;
  margin: 9px;
}

.form-section-second form {
  width: 575px;
  margin: 0 auto;
}

.form-section-second .warranty {
  margin-top: 8px;
}

.site {
  margin: 40px 0;
  font: 300 18px/18px "Open Sans";
  text-align: center;
}

.site a {
  color: #0072bc;
  text-decoration: underline;
}

footer {
  padding: 57px 0 58px;
  background-color: #F7F7F7;
}

footer .container > * {
  float: left;
}

footer .logo img {
  width: 200px;
  margin: -10px 37px 0 0;
}

footer .copy {
  width: 240px;
  margin: 0 58px 0 0;
  color: #000;
  font: 300 16px/25px "Open Sans";
}

footer .copy a {
  color: #000;
}

footer .copy a:hover {
  text-decoration: none;
}

footer .lands {
  margin-right: 45px;
  text-decoration: none;
}

footer .lands p {
  margin: 0 0 3px;
  color: #000;
  font: 300 12px "Open Sans";
}

footer address {
  float: none !important;
  color: #000;
  font: 300 35px "Open Sans";
  text-transform: uppercase;
}

#video {
  display: none;
}

#video .ipad {
  width: 851px;
  height: 600px;
  box-sizing: border-box;
  padding: 32px 0 0 70px;
  background: #333 url(../images/tablet2.png) top center no-repeat;
  border-radius: 30px;
}
#video .ipad iframe {
  width: 710px !important;
  height: 535px !important;
}


.fancybox-skin {
  border-radius: 30px;
}

#polityc {
  display: none;
  width: 350px;
  padding: 10px 20px;
  background: #FFF;
  border-radius: 5px;
}

#polityc h2 {
  font: 700 24px/30px "Open Sans";
  text-align: center;
}

.thnx {
  margin-top: 100px;
}
.thnx-text {
  width: 600px;
  padding: 100px 0 0;
  margin: 0 auto;
  color: #000;
  font-size: 40px;
  font-family: 'agavalanchecbold';
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
}
.footer-download {
  line-height: 50px;
  text-align: center;
}
.footer-download a {
  display: inline-block;
  height: 50px;
}
.footer-download a img {
  width: 130px;
  vertical-align: middle;
}

.video__link {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px #f1f1f1;
}
.video__link a {
  color: #0072bc;
  text-decoration: underline;
  font-weight: bold;
  line-height: 50px;
}
.demo_link {
  font-weight: bold;
  text-shadow: 0 0 10px #FF6666;
}



@media screen and (max-width: 1023px) {
    header p {display: none;}
    #advantages .advantages-list li {
        padding: 40px 40px 40px;
        margin-bottom: 50px;
    }
    #advantages .advantages-list div {
        padding: 0;
        margin: 0 0 0 270px;
        overflow: hidden;
    }
    .nav-icon, .nav-close {
        position: absolute;
        top: 10px;
        right: 10px;
        display: block;
    }
    nav {height: 40px;}
    nav .nav-block {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: none;
        padding: 30px 0 20px;
        background: #fff;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    }
    nav li {
        display: block;
        padding: 7px 10px;
        text-align: center;
    }
    .form-section-second .form {
        position: relative;
        left: auto;
        top: auto;
        float: none;
        padding: 1px 0 40px;
        margin-left: auto;
        margin-top: 0;
        margin: 0 auto;
        width: 620px;
        height: auto;
    }
    .form-section-second #ya_map {
        position: static;
        height: 400px;
    }
    .footer-download {margin: 0 0 20px;}
    .site {padding: 0 10px;}
    footer {padding: 37px 0 38px;}
    footer .container .logo {
        float: none;
        margin: 0 auto 15px;
        display: block;
        width: 200px;
        text-align: center;
    }
    footer .container .copy {
        float: none;
        margin: 0 auto 15px;
        text-align: center;
    }
    footer .container .lands {
        float: none;
        margin: 0 auto 15px;
        display: block;
        width: 100px;
        text-align: center;
    }
    footer .container address {
        float: none;
        margin: 0 auto;
        text-align: center;
    }

    #video .ipad {
        width: 710px;
        height: 535px;
        padding: 0;
        background: none;
    }
    #video .ipad iframe {
        width: 710px !important;
        height: 535px !important;
    }
}
@media screen and (max-width: 960px) {
    .reasons .reasons-list li {
      width: 30%;
    }
    .control h3 {
        max-width: 875px;
        width: auto;
    }
    .open-hide {display: none;}
    .open-business-hidden {
        display: block;
        margin: 0 0 40px;
        text-align: center;
    }
    .open-business .form {
        float: none;
        margin: 0 auto;
        padding: 1px 0 0;
    }
    .open-business .description {
        position: relative;
        width: auto;
        margin: 50px 0 30px;
    }
    .ipad {
        margin: 0 auto;
    }
    .open-business .link {text-align: center;}
    .open-business .link .hover {
        float: none;
        display: block;
        width: auto;
        height: auto;
        margin-top: 20px;
        text-align: left;
    }
    .open-business .link .hover:before {display: none;}
}
@media screen and (max-width: 800px) {

}
@media screen and (max-width: 767px) {
    .form-section-first .form:before {
      width: 310px;
    }
    .form-section-second p {
      width: 290px;
    }
    .header-logo {
        float: none;
        text-align: center;
    }
    header address {
        margin: 0;
        width: auto;
        color: #000;
        text-transform: uppercase;
        font: 300 30px "Open Sans";
    }
    .open-business .container {padding-top: 50px;}
    .open-business h2 {font: 300 30px/30px "Open Sans";}
    .open-business .price {
        margin: 20px 0 30px;
        font-size: 21px;
        line-height: 24px;
    }
    .reasons .reasons-list p {
        margin: 0;
        font: 300 16px/21px "Open Sans";
    }
    /*.reasons .reasons-list li:last-child p {*/
        /*width: auto;*/
    /*}*/
    .reasons {padding: 50px 0 30px;}
    .reasons h3 {
        margin: 50px 0 0;
        font: 300 30px "Open Sans";
    }
    .reasons .reasons-list {margin: 40px 0 0;}
    .reasons .asks-list li {
        float: none;
        width: 100%;
        padding: 0;
        margin: 0 0 30px;
    }
    .asks-list-img {margin: 0 0 15px;}
    .reasons .reasons-list li {
      width: 49%;
    }
    .why {padding: 50px 0;}
    .why h3 {font: 300 30px/30px "Open Sans";}
    .why p {
        margin: 25px 0 20px;
        font: 300 16px/21px "Open Sans";
    }
    .why .last {margin: 20px 0 0;}
    .control {padding: 50px 0;}
    .control h3 {font: 300 25px "Open Sans";}
    .control .description {
        max-width: 510px;
        width: auto;
        font: 300 21px/24px "Open Sans";
    }
    .control img {margin: 25px auto 30px;}
    .control p {
        margin: 20px 0 0;
        font: 300 16px/21px "Open Sans";
    }
    .form-section-first {padding: 50px 0 1px;}
    .proposal {padding: 130px 0 20px;}
    .proposal .container div {
        float: none;
        width: 100%;
        padding: 0 0 40px;
    }
    .proposal .container .bad {padding-right: 0;}
    .proposal .container .good {padding-left: 0;}
    .proposal:before {display: none;}
    .proposal .container h4 {margin: 0 0 35px;}
    .proposal .container p {
        margin: 20px 0 0;
        font: 300 16px/21px "Open Sans";
    }
    #advantages {padding: 50px 0;}
    #advantages h3 {font: 300 30px/30px "Open Sans";}
    #advantages .agency {
        margin: 8px 0 40px;
        font: 300 20px "Open Sans";
    }
    #advantages .text {font: 300 16px/21px "Open Sans";}
    #advantages .margin {margin-top: 20px;}
    #advantages .every-year {padding: 40px 20px;}
    #advantages .every-year h3 {
        font-size: 30px;
        line-height: 30px;
    }
    #advantages #included {padding-top: 50px;}
    .together {padding: 50px 0 50px;}
    .together h3 {font: 300 30px/30px "Open Sans";}
    .together .get {margin: 8px 0 50px;}
    .together ul {margin: 0;}
    .together p {font: 300 16px/21px "Open Sans";}
    .together ul p {margin: 0 0 0 87px;}
    .together ul li:nth-child(odd) {padding: 0 10px 0 0;}
    .together ul li:nth-child(even) {padding: 0 0 0 10px;}
    #contacts {padding: 50px 0 50px;}
    #contacts h3 {font: 300 30px/30px "Open Sans";}
    #contacts p {
        margin: 20px 0 35px;
        font: 300 20px/20px "Open Sans";
    }
    #contacts address {
        font: 300 18px/24px "Open Sans";
    }
    #contacts .number {margin-top: 10px;}

    header .active {
        height: 80px;
    }
    header .phone {
        position: relative;
        float: none;
        width: 230px;
        margin: 0 auto;
        padding: 0 0 30px;
    }
    header .languages-list {
        left: 50%;
        right: 0;
        top: 100%;
        margin-left: -50px;
        margin-top: -25px;
    }
    header .languages-list a {
      font: 400 15px/25px "Open Sans";
      padding-right: 10px;
    }
    #video .ipad {
        width: 400px;
        height: 335px;
    }
    #video .ipad iframe {
        width: 400px !important;
        height: 335px !important;
    }
}
@media screen and (max-width: 640px) {
    #advantages .advantages-list li {
        padding: 20px;
        margin: 0 -10px;
        margin-bottom: 30px;
    }
    #advantages .advantages-list div {margin: 0 0 0 170px;}
    #advantages img {width: 150px;}
    #advantages .every-year .my-btn {
        width: 100%;
        margin: 35px auto 15px;
    }
    .together ul li {
        width: 100%;
        margin-bottom: 30px;
    }
    .together ul li:nth-child(odd) {padding: 0;}
    .together ul li:nth-child(even) {padding: 0;}
    .form-section-second .form {
        width: auto;
        padding: 0 15px;
    }
    .form-section-second form {
        width: auto;
        padding: 20px 0 0;
    }
    .form-section-second form > * {
        float: none;
        width: 100%;
        display: block;
        margin: 0 0 9px;
        box-sizing: border-box;
    }
}
@media screen and (max-width: 560px) {
    .open-business .ipad {display: block;}
    .open-business .ipad img {display: none;}
    .open-business .ipad iframe {
        position: static;
        height: 320px;
        width: 400px;
    }
    .why .photos {padding: 0 5px;}
    .why .photos img {
        float: none;
        display: inline-block;
        vertical-align: top;
        width: 49%;
        padding: 7px 5px;
    }
}
@media screen and (max-width: 480px) {
    .open-business .ipad iframe {
        position: static;
        height: 220px;
        width: 300px;
    }
    .form {
        width: 300px;
    }
    #advantages .advantages-list li {padding: 15px;}
    #advantages .advantages-list div {margin: 0 0 0 95px;}
    #advantages img {width: 80px;}
    #advantages .every-year h3 {font-size: 24px;}
    .popup-form {
        width: 290px;
        height: auto;
        padding: 1px 0 30px;
    }
    #video .ipad {
        width: 280px;
        height: 235px;
    }
    #video .ipad iframe {
        width: 280px !important;
        height: 235px !important;
    }
    .reasons .reasons-list li {
      width: 100%;
    }
    .reasons .reasons-list p {margin: 0;}
    .reasons .reasons-list .my-btn {
        width: 214px;
    }
    #polityc {
      width: 260px;
      padding: 10px;
    }
}
@media screen and (max-width: 420px) {
    body {overflow-x: hidden;}
    .form-section-first .form {width: 100%;}
    .popup-form {
        width: 280px;
        height: auto;
        padding: 1px 0 30px;
    }
}






/************************* demo-login page ***************************/
html, body {
    min-height: 100%;
    height: auto;
}
.demo-login {
    min-height: 100%;
    background: url(../images/bg_open-business.jpg) center top no-repeat;
    background-size: cover;
}
.demo-login header {background: #fff;}
.demo-login header .phone {
    margin-top: 25px;
}
@media screen and (max-width: 767px){
    .demo-login header .phone {
        margin: 0 auto;
        margin-top: 0;
        padding: 0 0 10px;
    }
}
.demo-login-alert {
    padding: 20px 0;
}
.alert {
    max-width: 900px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.42857143;
}
.alert-info {
    padding: 15px;
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    border-radius: 5px;
}
small, .small {
    font-size: 85%;
}




.demo-login-form {

}
.sign {
  margin: 0 auto;
  max-width: 600px;
  background-color: #fff;
  border-radius: 10px;
  border: 5px solid #ccc;
  padding: 20px;
  font-size: 14px;
  text-align: center;
}
.sign_text {
  font-weight: bold;
}
.sign_title {
  font-weight: bold;
  font-size: 1.8em;
}
.sign_slogan {
  font-style: italic;
  color: #d9534f;
}

.demo-login-form form {
    max-width: 400px;
    margin: 0 auto;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  margin: 0 0 20px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  box-sizing: border-box;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control:-moz-placeholder {
  color: #999999;
}
.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
textarea.form-control {
  height: auto;
}
.demo-login-form label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #d2322d;
  border-color: #ac2925;
}