@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700&subset=cyrillic');
@font-face {
    font-family: 'CourierNew';
    src: url('../fonts/CourierNew.eot');
    src: url('../fonts/CourierNew.eot') format('embedded-opentype'),
         url('../fonts/CourierNew.woff2') format('woff2'),
         url('../fonts/CourierNew.woff') format('woff'),
         url('../fonts/CourierNew.ttf') format('truetype');
}
/************************* reset *************************/
html{
	background: #e9f4ff;
}
body{
	font-size: 16px;
	line-height: 22px;
}
/************************* common styles *************************/
.holder {
	max-width: 1020px;
}

h1 {
	margin: 0 0 48px;
	font-size: 35px;
	font-family: 'CourierNew';
	line-height: 42px;
}
h1.title {
	margin: 0 0 41px;
	font-size: 36px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
}
h2 {
	margin: 0 0 23px;
	font-size: 36px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
}
h2.title {
	margin: 0 0 41px;
	font-size: 36px;
	line-height: 40px;
	font-family: 'CourierNew';
	text-align: center;
	text-transform: uppercase;
}
h3 {
	margin: 0 0 37px;
	font-size: 24px;
	font-weight: 300;
	line-height: 30px;
}
h4 {
	margin: 0 0 22px;
	font-size: 16px;
	line-height: 22px;
}
p {margin: 0 0 22px;}
.button-holder {text-align: center;}
/************************* form-block *************************/
.input {
	display: block;
	width: 100%;
	height: 54px;
	padding: 0 20px;
	margin: 0 0 14px;
	color: #000;
	font-size: 16px;
	background: #fff;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}
.submit {
	display: block;
	width: 100%;
	height: 54px;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	background: #3cd01f;
	-webkit-transition: background .3s linear;
	-moz-transition: background .3s linear;
	-o-transition: background .3s linear;
	transition: background .3s linear;
}
.submit:hover {background: #40de21;}
::-webkit-input-placeholder {color: #000;}
:-moz-placeholder {color: #000; opacity: 1;}
::-moz-placeholder {color: #000; opacity: 1;}
:-ms-input-placeholder {color: #000;}
.input.error, .textarea.error {
	color: rgb(255, 86, 71);
	background-color: rgb(255, 206, 202);
}
label.error {
	position: absolute;
	left: -9999px;
}
.select-block select {width: 100%;}
/************************* header *************************/





.header-slogan {
	font-weight: 700;
	font-family: 'CourierNew';
}
/************************* blog *************************/
.main {
	padding: 44px 0 30px;
}
.blog-list {
	position: relative;
}
.blog-list:after {
	display: block;
	content: '';
	clear: both;
}
.blog-item {
	float: left;
	width: 30%;
	margin: 0 0 49px;
}
.blog-sizer {
	overflow: hidden;
	display: block;
	width: 30%;
	margin: 0 0 49px;
}
.gutter-sizer {width: 5%;}
.blog-item-img img {width: 100%;}
.blog-item-content {
	padding: 29px 34px 34px;
	font-size: 14px;
	line-height: 20px;
	background: #fff;
}
.blog-item-title {
	margin: 0 0 9px;
	font-size: 18px;
	font-weight: 700;
	font-family: 'CourierNew';
	line-height: 22px;
}
.blog-item-title a {
	color: #309ed9;
	text-decoration: none;
}
.blog-item-date {
	margin: 0 0 11px;
	color: #818284;
	font-size: 11px;
	line-height: 14px;
}
.blog-item-text {
	margin: 0 0 14px;
}
.blog-item-link a {
	color: #309ed9;
	text-decoration: none;
}
.button-more {
	display: inline-block;
	vertical-align: top;
	height: 74px;
	padding: 0 110px;
	color: #309ed9;
	font-size: 24px;
	line-height: 74px;
	text-align: center;
	text-decoration: none;
	background: #fff;
	border-radius: 37px;
}
.blog .button-holder {margin: 0 0 49px;}
.round-arrows {
	display: inline-block;
	vertical-align: top;
	margin: 28px 15px 0 0;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}
.button-more:hover .round-arrows {
	-moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
}
/************************* blog-page *************************/
.blog-page {
	margin: 0 0 44px;
}
.breadcrumbs {
	margin: 0 0 35px;
}
.breadcrumbs li {
	display: inline-block;
	vertical-align: top;
	margin: 0 7px 0 0;
	font-size: 12px;
	line-height: 27px;
}
.breadcrumbs a {color: #309ed9;}
.breadcrumbs span {
	display: inline-block;
	vertical-align: top;
	padding: 4px 12px 3px;
	line-height: 20px;
	background: #fff;
	border-radius: 10px;
}
.blog-date {
	margin: -34px 0 54px;
	color: #818284;
	font-size: 11px;
	line-height: 14px;
}
.blog-article {
	padding: 60px 60px 60px;
	background: #fff;
}
.blog-article img {
	max-width: 100%;
}
.article-img-top {
	display: block;
	margin: -60px -60px 60px;
}
.article-img {
	display: block;
	float: left;
	margin: 5px 50px 20px 0;
}
.article-img-big {
	display: block;
	float: left;
	margin: 0 0 20px;
}
.article-img-top img,
.article-img img,
.article-img-big img {width: 100%;}
.blog-article blockquote {
	padding: 53px 60px;
	margin: 0 0 53px;
	font-size: 20px;
	line-height: 24px;
	border: 1px solid #ffd000;
}
.article-webs {padding: 16px 0 0;}
.form-block {
	padding: 94px 60px 105px;
	background: url(../images/media/form-bg.jpg) 50% 0 no-repeat;
	background-size: cover;
}
.form-title {
	max-width: 590px;
	margin: 0 auto 44px;
	font-size: 24px;
	font-weight: 700;
	font-family: 'CourierNew';
	line-height: 29px;
	text-align: center;
}
.form-line {
	overflow: hidden;
}
.form-item {
	float: left;
	width: 25%;
	padding: 0 0 0 1px;
}
.form-line .submit {
	float: left;
	width: 25%;
}
/************************* footer *************************/
.footer {
	background: none;
}
#hidden-block {
	display: none;
	width: 640px;
	padding: 40px;
	font-size: 14px;
	line-height: 20px;
}
#hidden-block h3 {
	font-size: 21px;
	line-height: 24px;
	margin: 0px 0px 20px;
	text-align: center;
}
/************************* Всплывающие окна *************************/
.popup {
	display: none;
	width: 400px;
	padding: 40px;
}
.thnx-text {
	width: 600px;
	padding: 100px 0 0;
	margin: 0 auto;
	color: #000;
	font-size: 40px;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
}

/************************* media *************************/
@media screen and (max-width: 960px) {
	.blog-item {
		width: 47%;
		margin: 0 0 49px;
	}
	.blog-sizer {
		width: 47%;
		margin: 0 0 49px;
	}
	.gutter-sizer {width: 6%;}
	.blog-article, .form-block {margin: 0 -20px;}
}
@media screen and (max-width: 767px) {
	#hidden-block {
		width: 300px;
		padding: 15px;
	}
	h1 {
		margin: 0 0 48px;
		font-size: 30px;
		line-height: 36px;
	}
	.blog-article {padding: 20px 20px 30px;}
	.article-img-top {margin: -20px -20px 30px;}
	.blog-article blockquote {
		padding: 18px 20px;
		margin: 0 0 33px;
	}
	.article-img {margin: 5px 30px 20px 0;}
	.form-block {
		padding: 44px 20px 45px;
		background: url(../images/media/form-bg.jpg) 50% 0 no-repeat;
		background-size: cover;
	}
	.form-line {
		max-width: 400px;
		margin: 0 auto;
	}
	.form-item {
		float: none;
		width: auto;
		padding: 0;
	}
	.form-line .submit {
		float: none;
		width: 100%;
	}
	.blog-article blockquote {
		font-size: 18px;
		line-height: 24px;
	}
	.button-more {
		padding: 0 40px;
	}
}
@media screen and (max-width: 640px) {
	.blog-item {
		position: static !important;
		width: 100%;
		margin: 0 0 20px;
	}
	.blog-sizer {
		width: 100%;
		margin: 0;
	}
	.gutter-sizer {width: 0%;}

}
@media screen and (max-width: 560px) {
	.article-img {
		display: block;
		float: none;
		margin: 0 0 30px;
	}
}
@media screen and (max-width: 480px) {
	h1 {
		margin: 0 0 48px;
		font-size: 24px;
		line-height: 30px;
	}
	.form-title {
		margin: 0 auto 34px;
		font-size: 22px;
		line-height: 27px;
	}
	p {
		margin: 0 0 20px;
		font-size: 14px;
		line-height: 20px;
	}
}
@media screen and (max-width: 420px) {
	
}














