{% extends 'index.html' %}
{% block content %}
  <section class="article">
    <div class="holder">
      {% for article in object_list %}
      <div class="article-list-item">
        <h2 class="article-list-item__title">{{ article.title }}</h2>
        <p class="article__created">{{ article.created }}</p>
        <div class="article-list-item__text">{{ article.get_preview_text|safe|striptags }}</div>
        <a href="{{ article.get_absolute_url }}" class="button">Подробнее</a>
      </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
{% block footer_top %}
{% endblock %}