<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <title>{{ SETUP.meta_title|default:'Заголовок сайта' }}Рекламное агентство «Дружба»</title>
  {% load staticfiles %}
  <meta name="keywords" content="{{ SETUP.meta_key|safe|default:'' }}">
	<meta name="description" content="{{ SETUP.meta_desc|safe|default:'' }}">
  <link rel="stylesheet" href="{% static 'landing/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'landing/fancy-box/jquery.fancybox.css' %}">
  <link rel="stylesheet" href="{% static 'landing/css/main.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="{% static 'landing/js/jquery.maskedinput.js' %}"></script>
  <script src="{% static 'landing/fancy-box/jquery.fancybox.js' %}"></script>
  <script src="{% static 'landing/js/scrollspy.js' %}"></script>
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
  <script src="{% static 'landing/js/jquery.validate.js' %}"></script>
  <script src="{% static 'landing/js/jquery.form.js' %}"></script>
  <script src="{% static 'landing/js/notify-combined.min.js' %}"></script>
  <!--[if lt IE 10]><script type="text/javascript" src="{% static 'landing/js/placeholder.js' %}"></script><![endif]-->
  <script src="{% static 'landing/js/main.js' %}"></script>
  {{ SETUP.top_js|safe|default:'' }}
</head>
<body>
{% load i18n %}
  <header>
    <div class="container">
      <p><span>Бизнес</span>, с которым <span>справится</span> даже <span class="number">1</span> <span>человек</span></p>
      <div class="phone">
        <ul class="languages-list" data-url="{% url 'set_language' %}">
          {% get_current_language as LANGUAGE_CODE %}
          <li class="{{ LANGUAGE_CODE }} choose">
            <a href="#" data-language="{{ LANGUAGE_CODE }}">
            {{ LANGUAGE_CODE|language_name_local }}
            </a>
          </li>
        {% csrf_token %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
          {% if language.code != LANGUAGE_CODE %}
          <li class="{{ language.code }}">
            <a data-language="{{ language.code }}">
            {{ language.name_local }}
            </a>
          </li>
          {% endif %}
        {% endfor %}
{#          <li class="russian choose">#}
{#            <a href="#">#}
{#            Русский#}
{#            </a>#}
{#          </li>#}
{#          <li class="ukrainian">#}
{#            <a href="#">#}
{#            Украинский#}
{#            </a>#}
{#          </li>#}
{#          <li class="english">#}
{#            <a href="#">#}
{#            Казахский#}
{#            </a>#}
{#          </li>#}
        </ul>
        <address>{{ SETUP.phone|default:'8 800 250-34-50' }}</address>
      </div>
      <h1><a href="index.html"><img src="{% static 'landing/img/logo.png' %}" alt="Дружба"></a></h1>
    </div>
  </header>
  <nav>
    <div class="container">
      <ul>
        <li><a class="scroll" href="#about">О бизнесе</a></li>
        <li><a class="scroll" href="#report">Программа отчетности</a></li>
        <li><a class="scroll" href="#advantages">Преимущества</a></li>
        <li><a class="scroll" href="#included">Что входит</a></li>
        <li><a class="scroll" href="#contacts">Контакты</a></li>
        <li><a href="#popup" class="fancybox">Получить условия</a></li>
      </ul>
    </div>
  </nav>
  <section class="open-business">
    <div class="container">
      <div class="form">
        <h4>Заполните <span>форму</span></h4>
        <p>И узнайте все условия открытия вашего бизнеса</p>
        <form action="{% url 'ticket:send' %}" class="ticket_form" method="post">{% csrf_token %}
          <input type="text" name="name" placeholder="Ваше имя *">
          <input type="text" name="phone" placeholder="+7 (___) ___ - __ - __">
          <input type="text" name="mail" placeholder="Ваш email *">
          <input type="hidden" name="theme" value="Заявка - исполнитель ООО Рекламные системы">
          <button type="submit" class="my-btn">Получить информацию</button>
        </form>
        <p class="warranty">Мы гарантируем конфиденциальность</p>
      </div>
      <div class="open">
        <h2>Откройте <span>свой</span> рекламный <span>бизнес</span> по франшизе </h2>
        <p class="price">С применением инновационных технологий всего <span>за 80 000</span> рублей</p>
        <p class="salary">И зарабатывайте <span>от 50 000 рублей в месяц</span> без опыта и больших капиталовложений!</p>
        <p class="description"><span></span>Откройте собственное рекламное агентство по распространению листовок по почтовым ящикам и расклейке объявлений на информационных стендах. Все бизнес-процессы полностью автоматизированы.</p>
        <div class="link">
          <a class="ipad fancybox" href="#video">
            <img src="{% static 'landing/img/ipad.png' %}" alt="ipad">
          </a>
          <a class="hover fancybox" href="#video">
            Программная разработка, не имеющая аналогов в рекламной сфере «Контроль расклейки и распространения объявлений»
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="reasons">
    <div class="container">
      <ul class="asks-list">
        <li>
          <p class="asks-item1">Хотите открыть собственное дело, но ограничены в средствах?</p>
        </li>
        <li>
          <p class="asks-item2">Мечтаете покинуть офисное кресло и заняться предпринимательской деятельностью?</p>
        </li>
        <li>
          <p class="asks-item3">Ищете дополнительный источник дохода без крупных капиталовложений? Ваши цели реальны!</p>
        </li>
      </ul>
      <span class="clear">.</span>
      <h3><span>7</span> причин купить франшизу</h3>
      <p class="agency">Рекламного агентства «Дружба»</p>
      <ul class="reasons-list">
        <li>
          <img src="{% static 'landing/img/reasons-item1.jpg' %}" alt="">
          <p>Не нужно арендовать офис и покупать дорогостоящее оборудование — всю работу вы можете вести из дома</p>
        </li>
        <li>
          <img src="{% static 'landing/img/reasons-item2.jpg' %}" alt="">
          <p>Уникальная программа отчетности в онлайн-режиме для клиентов</p>
        </li>
        <li>
          <img src="{% static 'landing/img/reasons-item3.jpg' %}" alt="">
          <p>Идеальное решение для старта предпринимательской деятельности</p>
        </li>
        <li>
          <img src="{% static 'landing/img/reasons-item4.jpg' %}" alt="">
          <p>Срок окупаемости проекта — 2 месяца</p>
        </li>
        <li>
          <img src="{% static 'landing/img/reasons-item5.jpg' %}" alt="">
          <p>Рекламный формат прост, востребован и эффективен уже более 20 лет</p>
        </li>
        <li>
          <img src="{% static 'landing/img/reasons-item6.jpg' %}" alt="">
          <p>Простой и легкий бизнес, не требующий специальных навыков и образования</p>
        </li>
        <li>
          <img src="{% static 'landing/img/reasons-item7.jpg' %}" alt="">
          <p>Минимальный порог входа: <br> Инвестиции вместе с паушальным взносом составят всего 80 000 рублей!</p>
          <a href="#popup" class="my-btn fancybox">Получить предложение</a>
        </li>
      </ul>
      <span class="clear">.</span>
    </div>
  </section>
  <section id="about" class="why">
    <div class="container">
      <h3>Почему это работает?</h3>
      <p>Реклама — самый простой и действенный способ увеличить продажи и выйти на новые рынки. Вспомните, откуда вы получили информацию о новом кафе, недорогом такси, открывшемся салоне красоты? Реклама никогда не утратит актуальности, потому что именно она приносит прибыль. Ежегодно открывается множество предприятий. Все они нуждаются в рекламе. Более того, <strong>90% представителей малого и среднего бизнеса начинают рекламную кампанию именно с листовок и объявлений.</strong> Среди них могут быть и ваши клиенты!</p>
    </div>
    <div class="photos">
      <img src="{% static 'landing/img/photo1.jpg' %}" alt="Фото">
      <img src="{% static 'landing/img/photo2.jpg' %}" alt="Фото">
      <img src="{% static 'landing/img/photo3.jpg' %}" alt="Фото">
      <img src="{% static 'landing/img/photo4.jpg' %}" alt="Фото">
      <img src="{% static 'landing/img/photo5.jpg' %}" alt="Фото">
      <img src="{% static 'landing/img/photo6.jpg' %}" alt="Фото">
      <img src="{% static 'landing/img/photo7.jpg' %}" alt="Фото">
      <img src="{% static 'landing/img/photo8.jpg' %}" alt="Фото">
      <img src="{% static 'landing/img/photo9.jpg' %}" alt="Фото">
      <img src="{% static 'landing/img/photo10.jpg' %}" alt="Фото">
    </div>
    <span class="clear">.</span>
    <div class="container">
      <p class="last">Расклейка рекламных объявлений на информационных стендах и распространение листовок по почтовым ящикам — самый старый рекламный формат, который востребован и сейчас. Его ценность значительно возросла в годы кризиса! Многие компании урезали рекламный бюджет, перешли на режим экономии и вернулись к старым и проверенным годами методам рекламы — объявлениям на рекламных досках и листовкам в почтовых ящиках. Почему? Это просто, эффективно и недорого. Сомневаетесь? Посмотрите на доски объявлений в вашем городе! Они никогда не пустуют, а значит спрос на услуги расклейки объявлений есть всегда. Аналогично обстоят дела и с листовками в почтовых ящиках.</p>
    </div>
  </section>
  <section id="report" class="control">
    <div class="container">
      <h3><span>«</span>Контроль расклейки и распространения объявлений<span>»</span></h3>
      <p class="description">Уникальная программа отчетности! Покорите рынок с первого раза!</p>
    </div>
    <img src="{% static 'landing/img/apple-devices.png' %}" alt="Эпл девайсы">
    <div class="container">
      <p>Система отчетности перед рекламодателями — самая большая трудность в этом простом бизнесе. Не беспокойтесь — вы с ней не столкнетесь! Мы уже решили эту проблему и вместе с франшизой предлагаем вам продукт, у которого нет конкурентов — программу контроля исполнения заказов «Контроль расклейки и распространения объявлений».</p>
      <p>Исполнитель заказа посредством приложения для операционной системы Андроид отмечает с помощью GPS-навигации каждую точку маршрута и делает фотоснимок выполненного заказа, который тут же отправляется на сервер и становится доступен клиенту. Ваши рекламодатели смогут собственными глазами увидеть фотографии проделанной работы, которые привязана к определенному адресу в онлайн-карте и посмотреть весь маршрут исполнения заказа. Для этого им даже не придется выходить из дома или офиса!</p>
      <p>Ваши клиенты будут выбирать вас, потому что никто другой не сможет предложить им такой же прозрачной схемы работы. Рекламодатели всегда будут в вас уверены, а доверие — главное условие долгосрочного плодотворного сотрудничества.</p>
    </div>
  </section>
  <section class="form-section-first">
    <div class="form">
      <h4>Заполните <span>форму</span></h4>
      <p>И получите подробную консультацию о франшизе</p>
      <form action="{% url 'ticket:send' %}" class="ticket_form" method="post">{% csrf_token %}
        <input type="text" name="name" placeholder="Ваше имя *">
        <input type="text" name="phone" placeholder="+7 (___) ___ - __ - __">
        <input type="text" name="mail" placeholder="Ваш email *">
        <input type="hidden" name="theme" value="Заявка - исполнитель ООО Рекламные системы">
        <button type="submit" class="my-btn">Получить консультацию</button>
      </form>
      <p class="warranty">Мы гарантируем конфиденциальность</p>
    </div>
  </section>
  <section class="proposal">
    <div class="container">
      <div class="bad">
        <h4>Что могут предложить ваши конкуренты?</h4>
        <img src="{% static 'landing/img/competitors-proposal.jpg' %}" alt="Что могут предложить конкуренты">
        <p>Отчет о работе в текстовом формате и совместный выезд по избранным адресам, участвующим в рекламной акции. При таком подходе клиент не может быть до конца уверен, что каждая листовка попала по назначению, а не была выброшена в мусорную корзину....</p>
      </div>
      <div class="good">
        <h4>Что сможет предложить ваша компания?</h4>
        <img src="{% static 'landing/img/our-proposal.jpg' %}" alt="Что сможет предложить ваша компания">
        <p>Ваши рекламодатели смогут проверить выполнение заказа по каждому адресу в удаленном режиме. Более чем убедительный довод, чтобы выбрать вас, а не конкурентов, не так ли?</p>
        <p>Благодаря программе вы сможете предложить вашим клиентам распространение листовок по почтовым ящикам в новостройках, элитных домах, на территории частного сектора. Рекламодатели редко заказывают такую услугу у конкурентов ввиду отсутствия возможности проверить выполнение работы. Для вас это не проблема! К тому же, такие услуги стоят дороже, нежели обычная адресная программа.</p>
      </div>
      <span class="clear">.</span>
    </div>
  </section>
  <section id="advantages">
    <div class="container">
      <h3>Преимущества рекламного <span>бизнеса</span></h3>
      <p class="agency">По франшизе агентства «Дружба»</p>
      <ul class="advantages-list">
        <li>
          <img src="{% static 'landing/img/advantages-item-img1.jpg' %}" alt="Простота">
          <div>
            <h4>Простота</h4>
            <p class="text">Вы получите полностью работоспособную и автоматизированную схему, которая будет приносить вам от 50 000 рублей чистой прибыли в месяц. Вам не придется постигать премудрости ведения бизнеса методом «проб и ошибок». Вы покупаете готовую к использованию модель, с помощью которой вы составите серьезную конкуренцию действующим участникам рекламного рынка в вашем городе.</p>
          </div>
          <span class="clear">.</span>
        </li>
        <li>
          <img src="{% static 'landing/img/advantages-item-img2.jpg' %}" alt="Невысокая стоимость">
          <div>
            <h4>Невысокая стоимость</h4>
            <p class="text">Ваши затраты на открытие бизнеса составят всего 80 000 рублей вместе с паушальным взносом.</p>
            <p class="text margin">На первоначальной стадии развития вам не понадобится офис и штат постоянных сотрудников. Со всей работой вы можете справиться самостоятельно</p>
          </div>
          <span class="clear">.</span>
        </li>
        <li>
          <img src="{% static 'landing/img/advantages-item-img3.jpg' %}" alt="Конкурентное преимущество прямо на старте">
          <div>
            <h4>Конкурентное преимущество прямо на старте</h4>
            <p class="text">Благодаря специальной программе контроля, которая не оставит рекламодателям никаких сомнений в том, что заказ был выполнен качественно с точностью до одного адреса и одной листовки, вы всегда будете впереди конкурентов.</p>
            <p class="text margin">Ваши клиенты будут вам доверять и обращаться к вам снова и снова!</p>
          </div>
          <span class="clear">.</span>
        </li>
        <li>
          <img src="{% static 'landing/img/advantages-item-img4.jpg' %}" alt="Высокая ликвидность">
          <div>
            <h4>Высокая ликвидность</h4>
            <p class="text">Если по какой-либо причине вы больше не захотите заниматься рекламным бизнесом, вы легко сможете его продать. Ваш товар очень быстро найдет покупателя, поскольку вы сможете ему предложить работающую схему ведения бизнеса, которая уже приносит деньги. Благодаря автоматизации всех финансовых вопросов и действий по работе с клиентами и исполнителями в программе, ваш покупатель получит не только доступ к уникальному методу онлайн-отчетности, но и наработанную базу рекламодателей.</p>
          </div>
          <span class="clear">.</span>
        </li>
      </ul>
      <div class="every-year">
        <h3>С каждым годом цена вашего бизнеса будет только увеличиваться</h3>
        <p>Сделайте выгодную инвестицию в будущее!</p>
        <a href="#popup" class="my-btn fancybox">Получить консультацию</a>
        <p class="warranty">Мы гарантируем конфиденциальность</p>
      </div>
      <div id="included">
        <h3 class="included">Что еще входит в стоимость франшизы</h3>
        <p class="agency">Рекламного агентства «Дружба»?</p>
        <p class="text">Компаний, которые занимаются расклейкой объявлений и распространением листовок по почтовым ящикам, много. Фирм, использующих инновации, практически нет. Вы сможете захватить до 50% рекламного рынка в вашем городе благодаря современным технологиям работы и автоматизации всех процессов.</p>
        <p class="text margin">Вы получите полностью автоматизированную схему работы, благодаря которой вы сможете грамотно управлять вашим бизнесом, контролировать поступление и расходование средств, анализировать результаты. Мы научим вас зарабатывать от 50 000 рублей в месяц с помощью простого и легкого метода работы. Уже через 2 месяца вы окупите первоначальные вложения и начнете работать на прибыль.</p>
      </div>
    </div>
  </section>
  <section class="together">
    <div class="container">
      <h3>Вместе с подробной инструкцией по созданию бизнеса</h3>
      <p class="get">В рамках франшизы вы получите</p>
      <ul class="get-list">
        <li>
          <img src="{% static 'landing/img/get-item-img1.png' %}" alt="Продающий сайт">
          <p>Продающий сайт и все входящие заявки клиентов в вашем городе</p>
        </li>
        <li>
          <img src="{% static 'landing/img/get-item-img2.png' %}" alt="CRM-системa">
          <p>CRM-систему, которая упрощает работу с клиентами на каждом этапе взаимодействия</p>
        </li>
        <li>
          <img src="{% static 'landing/img/get-item-img3.png' %}" alt="Системa управления продажами">
          <p>Систему управления продажами — вы в любой момент сможете получить всю необходимую информацию о состоянии ваших финансов</p>
        </li>
        <li>
          <img src="{% static 'landing/img/get-item-img4.png' %}" alt="Программa отчетности">
          <p>Программу отчетности по заказам перед клиентами</p>
        </li>
      </ul>
      <span class="clear">.</span>
      <p>Получите свой первый опыт предпринимательской деятельности вместе с франшизой рекламного агентства «Дружба» и зарабатывайте от 50 000 рублей в месяц без опыта и больших капиталовложений!</p>
    </div>
  </section>
  <section id="contacts">
    <h3>Наши контакты</h3>
    <p>Свяжитесь с нами</p>
    <address>г. Волгоград, ул. Грушевская, 10, 4 этаж, оф. 1, 2</address>
    <address class="number">8 (800) 250-34-50</address>
  </section>
  <section class="form-section-second">
    <div id="ya_map" data-url="{% url 'city:map' %}">
      <script type="text/javascript">
        ymaps.ready(init);
        var myMap;
        function init(){
          myMap = new ymaps.Map("ya_map", {
            center: [52.573871,57.674484],
            zoom: 6,
          //	type: 'yandex#satellite'
          });

          // Создание метки
          var coords = [
            [55.75396, 37.620393],[56.129042, 40.40703],[54.629169, 39.734928],[56.852775, 53.211463]
          ],
            myCollection = new ymaps.GeoObjectCollection({}, {
               preset: 'islands#redIcon', //все метки красные
               draggable: false // и их можно перемещать
            });

          var city_map_url = $('#ya_map').data('url');
          $.get(city_map_url,
            function(e) {
              function outputItem(item, i, e) {
                  myCollection.add(
                      new ymaps.Placemark([item['coord_y'], item['coord_x']], {
                      balloonContent: item['name'],
                      hintContent: item['name']
                      })
                  );
              }
              e.forEach(outputItem);
            }
          );
          myMap.geoObjects.add(myCollection);
          myMap.behaviors.disable('scrollZoom');
        }
      </script>
    </div>
    <div class="form">
      <h4>Заполните форму</h4>
      <p>и получите презентацию с перечнем свободных городов</p>
      <form action="{% url 'ticket:send' %}" class="ticket_form" method="post">{% csrf_token %}
        <input type="text" name="name" placeholder="Ваше имя *">
        <input type="text" name="phone" placeholder="+7 (___) ___ - __ - __">
        <input type="text" name="mail" placeholder="Ваш email *">
        <input type="hidden" name="theme" value="Заявка - исполнитель ООО Рекламные системы">
        <button type="submit" class="my-btn">Получить консультацию</button>
      </form>
      <span class="clear">.</span>
      <p class="warranty">Мы гарантируем конфиденциальность</p>
    </div>
  </section>
  <p class="site">Хотите посмотреть, как будет выглядеть ваш будущий сайт? <a href="http://reklamadoma.com/">Смотрите тут</a></p>
  <footer>
    <div class="container">
      <span class="clear">.</span>
      <a href="index.html" class="logo"><img src="{% static 'landing/img/logo.png' %}" alt="Дружба"></a>
      <p class="copy"><a href="#polityc" class="fancybox">Политика конфиденциальности</a> РА «Дружба» © <script type="text/javascript">var mdate = new Date(); document.write(mdate.getFullYear());</script></p>
      <a href="http://5lands.ru/" class="lands" target="_blank">
        <p>Дизайн сайта</p>
        <img src="{% static 'landing/img/5lands.png' %}" alt="5lands">
      </a>
      <address>8 800 250-34-50</address>
      <span class="clear">.</span>
    </div>
  </footer>
  <div id="popup" class="form" style="display: none;">
    <h4>Заполните <span>форму</span></h4>
    <p>И узнайте все условия открытия вашего бизнеса</p>
    <form action="{% url 'ticket:send' %}" class="ticket_form" method="post">{% csrf_token %}
      <input type="text" name="name" placeholder="Ваше имя *">
      <input type="text" name="phone" placeholder="+7 (___) ___ - __ - __">
      <input type="text" name="mail" placeholder="Ваш email *">
      <input type="hidden" name="theme" value="Заявка - исполнитель ООО Рекламные системы">
      <button type="submit" class="my-btn">Получить информацию</button>
    </form>
    <p class="warranty">Мы гарантируем конфиденциальность</p>
  </div>
  <div id="video">
    <div class="ipad">
      {{ SETUP.video|safe|default:'' }}
    </div>
  </div>
  <div id="polityc">
    <h2>Политика конфиденциальности</h2>
    <p>Мы не собираем личную информацию о Вас, когда Вы заходите на наш сайт.
    Вы можете анонимно просматривать сайт. Тем не менее, Ваш браузер все же автоматически сообщает нам тип компьютера и операционной системы, которые Вы используете. Единственная личная информация о Вас, которую мы получаем, это те данные, которые Вы добровольно предоставляете при заполнении форм.
    При заполнении форм на сайте у Вас запросят персональную информацию, такую как имя, номер телефона. Предоставление такой информации в ответ на запрос осуществляется Вами исключительно добровольно.
    Предоставленная Вами информация используется чтобы оказать те услуги, которые Вы сами запрашиваете.
    </p>
  </div>

{{ SETUP.bottom_js|safe|default:'' }}
</body>
</html>