{% for instance in instances %}
  <div id="js-modal-comment-{{ instance.pk }}" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <form method="post" action="{% url 'admin:ticket_ticket_create_comment' pk=instance.pk %}?next={{ path }}">
      {% csrf_token %}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <h3>Комментарии</h3>
      </div>
      <div class="modal-body">
          {% for ticket_comment in instance.ticketcomment_set.all %}
            <div class="form-group">
              <p><strong>{{ ticket_comment.created }}</strong></p>
              <p>{{ ticket_comment.text|linebreaksbr }}</p>
            </div>
          {% endfor %}
          <div class="form-group">
            <textarea name="text" class="form-control" style="width: 500px;" rows="10" placeholder="Добавить комментарий" required></textarea>
          </div>
          <div class="form-group">
            <label>Дата следующего контакта:</label>
            <input type="text" name="contact_date" style="form-control" value="{{ instance.contact_date|date:'d.m.Y H:i' }}">
          </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Сохранить</button>
      </div>
    </form>
  </div>
{% endfor %}
