{% extends 'index.html' %}
{% block top_content %}
  <h2>Политика конфиденциальности</h2>
  <dl>
    <dt>
    Мы не предоставляем данные никаким компаниям или третьим лицам.
    </dt>
    <dt>
    Только пользователь системы может сам передать свой логин и пароль третьему лицу.
    </dt>
    <dt>
    Все пароли  хранятся в зашифрованном виде, и ни администрация, ни технический персонал доступа к данной
    информации не имеет.
    </dt>
    <dt>
    Если наша компания примет участие в слиянии, приобретении или любой другой форме продажи части или всех
    своих активов, мы гарантируем сохранение конфиденциальности любой личной информации, вовлеченной в эту сделку,
    и уведомим вас об этом, прежде чем личная информация будет перенесена и подпадет под действие другой политики
    конфиденциальности.
    </dt>
  </dl>
  <br>
  <strong>Защита информации</strong>
  <br>
  <p>
  Мы принимаем все необходимые меры для защиты данных от неавторизованного доступа, изменения, раскрытия или
  уничтожения. К этим мерам относятся, в частности, внутренняя проверка процессов сбора, хранения и обработки
  данных и мер безопасности, включая соответствующее шифрование и меры по обеспечению физической безопасности
  данных для предотвращения неавторизованного доступа к системам, в которых мы храним личные данные
  </p>
  <p>
  Все данные, которые собирает и отсылает на сервер мобильное приложение (координаты и фотографии) используются
  исключительно в целях обеспечения надлежащего качества выполняемых вашей организацией услуг, в соостветствии с
  договорами на использование данного информационно-программного комплекса.
  </p>
  <p>
  Фотографии, которые вы делаете через мобильное приложение предоставляются в доступ исключительно зарегистрированным
  сотрудникам вашей организации, а так же тем клиентам вашей организации которые заказывали у вашей органиации
  выполнение услуг.
  </p>
  <p>
  Примите во внимание, что данная политика конфиденциальности может время от времени меняться. Мы не намерены
  ограничивать сферу действия ваших прав, проистекающих из настоящей политики конфиденциальности, без вашего
  явного разрешения. Изменения, вносимые в политику конфиденциальности, мы будем публиковать на этой странице.
  Если же изменения будут значительными, мы уведомим вас более явным способом (включая, применительно к некоторым
  службам, уведомление об изменениях в политике конфиденциальности, высылаемое по электронной почте).
  </p>
  <p>
  При использовании нашего сервиса пользователь принимает все вышеизложенные пункты и берет на себя полную
  ответственность за сохранность своих личных данных, логинов и паролей.
  </p>
{% endblock %}
{% block other_content %}
{% endblock %}